# Note: Things that can be safely transformed are things that cannot be overridden - final methods & classes,
#       anything inside a final class, and private and/or static fields & methods.

# Render stuff
#public net.minecraft.client.renderer.BlockEntityWithoutLevelRenderer f_172547_ # blockEntityRenderDispatcher
